agm-map {
  width: 1170px;
  height: 400px;
  margin-left: 16px;
  padding-right: 1000px!important;
}
.a{
  margin-left: -586px;
  // padding-right: 10000px!important;
}
#iput{
  margin-top: 5px;
  padding: 5px;
  margin-bottom: 14px;
  width: 600px;
  text-align: center;
  border: 3px solid red;
  border-radius:10px;
}
#iput:hover{
  border: 4px solid blue;
  
}
